<header></header>
<slider></slider>

&nbsp;

<div class="row">
    
    
    <div class="column nature">
      <div class="content">
        <img src="https://th.bing.com/th?id=OPA.3%2fy5VTRUqaPMgg474C474&w=220&h=210&o=5&pid=21.1" alt="comicbook" style="width:100%">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <span class="book-title"> The secrect</span><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="book-category" style=color:blue >Thriller</span><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="book-price"  >Rs.1799 /-</span><br>
        <br>
         </div>
    </div>

    